<div ng-controller="resultProviderController" ng-if="showProviderScreen">
	<form name="frmSchoolCand" ng-submit="fn_submit()">
		<table>
			<tr>
				<td><b>Result provider address:</b></td>
				<td>{{providerAddress}}</td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td><b>Select school<span> *</span>:</b></td>
				<td>
					<select ng-model="schoolVal" name="schoolVal" ng-change="fn_changeCand(schoolVal)" ng-required="true">
						<option ng-repeat="schoolCand in schoolCandDetails"	value="{{schoolCand.schoolCode}}">{{schoolCand.schoolName}}</option>					
					</select>
					<span ng-show="frmSchoolCand.schoolVal.$invalid">Please select school</span></td>
			</tr>
			<tr>
				<td><b>School address:</b></td>
				<td>{{schoolAddress}}</td>
				</td>
			</tr>
			<tr>
				<td><b>Session:</b></td>
				<td>{{session}}</td>
				</td>
			</tr>
			<tr>
				<td><b>Select candidate<span> *</span>:</b></td>
				<td><select ng-model="candVal" name="candVal" ng-required="true" ng-change="fn_getCand(candVal)">
						<option ng-repeat="cand in allCandDetails"	value="{{cand.candCode}}">{{cand.candName}}</option>					
					</select><span ng-show="frmSchoolCand.candVal.$invalid">Please select candidate</span>

				</td>
			</tr>
			<tr ng-if="loader">
				<td colspan="2" align="center">
					<div class="loader" ></div>
				</td>
			</tr>
			<tr ng-if="ShowCanDetails">
				<td colspan="2">
					<table>
						<tbody>
							<th>Candidate code</th>
							<th>Candidate name</th>
							<th>Candidate address</th>
							<th>Result code</th>
							<th>Total points</th>
							<th>Description</th>
						</tbody>
						<tr ng-repeat=" CandDetail in CandDetails">
							<td>{{CandDetail.candCode}}</td>
							<td>{{CandDetail.candName}}</td>
							<td>{{CandDetail.candAddress}}</td>
							<td>{{CandDetail.resultCode}}</td>
							<td>{{CandDetail.totalPoints}}</td>
							<td>{{CandDetail.resultDescription}}</td>
						</tr>
						<tr>

							<td colspan="6" align="center">&nbsp;</td>
						</tr>
						<tr  style="background-color:white">

							<td colspan="5" align="center">
								<table class="innerTable">
									<tbody>
										<th>Subject</th>
										<th>Level</th>
										<th>Grade</th>
									</tbody>

									<tr ng-repeat="SubDetail in CandDetails[0].subjects">
										<td>{{SubDetail.subjectName}}</td>
										<td>{{SubDetail.subjectLvl}}</td>
										<td>{{SubDetail.subjectGrade}}</td>
									</tr>
								</table>
							</td>
							<td ng-if="CandDetails[0].resultDescription=='DIPLOMA AWARDED'" align="center"><img src="images/diplomaAwarded.jpg" width="100px" height="100px"></td>
							<td ng-if="CandDetails[0].resultDescription=='COURSE AWARDED'" align="center"><img src="images/courseAwarded.jpg" width="100px" height="100px"></td>
						</tr>
					</table>
				</td>
				
			</tr>
			<tr>
			<td colspan="2" align="center"> <span> {{Warnigs}}</span></td>					
			</tr>
			<tr><td colspan="2" align="center"><div class="loader" ng-if="loaderStatus"></div><span ng-if="loaderStatusMsg">{{(statusMsg)}}</span> <span style="color:green !important;"> {{successMessage}}<br>{{returnHashString}}</span></td>	</tr>
			<tr ng-if="hideSubmit">
				<td colspan="2" align="center"><input class="button" type="submit" name="submit" value="Send to Blockchain" />

				</td>
			</tr>
			<tr ng-if="loaderSubmit">
				<td colspan="2" align="center">
					<div class="loader"></div>
				</td>
			</tr>

		</table>
	</form>
</div>